@use "vars" as v;
@use "mixins" as m;
@use "base";

[data-page] {
  padding: v.$space-3;
  opacity: 1;
  transform: translateY(0);
  @include m.transition(opacity, transform);
}

[data-page].is-exiting {
  opacity: 0;
  transform: translateY(v.$exit-offset);
}

[data-page].is-entering {
  opacity: 0;
  transform: translateY(v.$enter-offset);
}