---
interface Props {
    title: string;
    subTitle: string;
    kanji: string;
}

const { title, subTitle, kanji } = Astro.props;
---

<section
    class="h-32 w-full flex-1 border-r border-b border-border bg-secondary/30 flex flex-col gap-3 px-4 sm:px-7 justify-center relative overflow-hidden group hover:bg-accent/5 transition-colors"
>
    <span
        class="-z-10 text-6xl bottom-0 right-0 text-secondary absolute opacity-90 group-hover:text-accent/10 font-bold disable-select"
        aria-hidden="true"
    >
        {kanji}
    </span>
    <span class="text-3xl font-bold">{title}</span>
    <span class="text-xs text-muted-foreground">{subTitle}</span>
</section>
