---
import type { AstroComponent } from "@lucide/astro";

export interface TimelineItem {
    year: string;
    title: string;
    description: string;
    icon: AstroComponent;
}

interface Props {
    items: TimelineItem[];
}

const { items } = Astro.props;
---

<div class="relative py-8 w-full max-w-4xl mx-auto">
    <!-- center line -->
    <div class="absolute left-8 md:left-1/2 top-4 bottom-4 w-px bg-foreground/10 md:-translate-x-1/2"></div>

    <div class="flex flex-col gap-12 md:gap-16">
        {items.map((item, index) => {
            const Icon = item.icon;
            const isLeftAligned = index % 2 === 0;
            return (
                <div class={`group relative flex items-center ${isLeftAligned ? 'md:flex-row-reverse' : ''}`}>
                    <!-- icon and content has flex-1 to share space evenly of 50%, a basic thing i forgot -->
                    <!-- since i'm realizing that i really don't like frontend -->
                    <!------------------------------->

                    <!-- dot -->
                    <div class="absolute left-8 md:left-1/2 size-3 md:size-4 bg-background border-[1.5px] border-foreground/30 rounded-full -translate-x-1/2 z-10 transition-colors group-hover:border-accent group-hover:bg-accent"></div>

                    <!-- icon  -->
                    <div class="hidden md:flex flex-1 justify-center items-center opacity-[0.03] dark:opacity-25 pointer-events-none text-foreground">
                        <Icon class="size-20" />
                    </div>

                    <!-- icon but for mobile -->
                    <div class="absolute inset-0 flex items-center pl-16 md:hidden opacity-[0.03] dark:opacity-25 pointer-events-none overflow-hidden text-foreground">
                        <Icon class="size-16" />
                    </div>

                    <!-- content -->
                    <div class={`pl-16 md:pl-0 flex-1 relative z-20 text-left ${isLeftAligned ? 'md:text-right md:pr-16' : 'md:text-left md:pl-16'}`}>
                        <span class="text-accent text-sm font-mono mb-1 uppercase block">{item.year}</span>
                        <h3 class="font-bold text-lg text-foreground mb-1 mt-1">{item.title}</h3>
                        <p class="text-muted-foreground text-sm">{item.description}</p>
                    </div>
                </div>
            );
        })}
    </div>
</div>
