---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Sahil A.">
    <main class="page flex flex-col items-center space-y-10">
        <div class="container" style="margin: 10px auto; max-width: 600px; text-align: center;">
            <h1 style="margin: 30px 0; font-size: 4em; line-height: 1; letter-spacing: -1px;">404</h1>
            <img src="https://http.cat/404" height="200" width="300" alt="404" style="margin: 0 auto;" />
        </div>
    </main>
</Layout>
