---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="/credits | Sahil A.">
    <main class="page flex flex-col space-y-10">
        <section class="relative flex flex-col items-start gap-4">
            <span class="text-accent uppercase text-xs">// credits</span>
            <h1 class="text-5xl">Credits</h1>
        </section>

        <section class="prose-blog max-w-none">
            <p>Credits page content coming soon.</p>
        </section>
    </main>
</Layout>
