---
import Writing from "@/components/Writing.astro";
import Layout from "@/layouts/Layout.astro";
import { siteConfig } from "@/config";
---

<Layout image="/images/home.webp">
    <div class="px-5 pt-10">
        <h1 class="text-5xl font-bold">{siteConfig.title}</h1>
        <p class="text-lg text-muted-foreground mt-2" id="greeting"></p>
    </div>
    <Writing page={1} />

    <script>
        function changeText(paragraph, greetings) {
            let currentIndex = 0;
            return function () {
                paragraph.textContent = greetings[currentIndex];
                currentIndex = (currentIndex + 1) % greetings.length;
            };
        }

        const paragraph = document.getElementById('greeting');
        const greetings = ['Hello, world!', 'Χάρηκα', '¿Cómo estás?'];

        const updateGreeting = changeText(paragraph, greetings);
        updateGreeting();
        setInterval(updateGreeting, 3000);
    </script>
</Layout>
