---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="/now | Sahil A.">
    <main class="page flex flex-col space-y-10">
        <section class="relative flex flex-col items-start gap-4">
            <span class="text-accent uppercase text-xs">// now</span>
            <h1 class="text-5xl">What I'm doing <em>now</em></h1>
            <p class="text-sm text-muted-foreground">
                <a href="https://nownownow.com" target="_blank" rel="noreferrer" class="hover:text-primary">What is this?</a>
                <br />
                Updated: July 18, 2024
            </p>
        </section>

        <section class="prose-blog max-w-none">
            <h2>Computer stuff</h2>

            <ul>
                <li>Working on building this site</li>
                <li>I'm relearning everything about computers and programming to get a better and deeper grasp of concepts, track my progress <a href="https://github.com/sahilium/learn" target="_blank" rel="noreferrer">here</a></li>
                <li>Finding and connecting with professional developers and other awesome people from the tech world</li>
                <li>Oogling at <a href="https://www.fontsquirrel.com/fonts/comfortaa" target="_blank" rel="noreferrer">this</a> font, yes I'm crazy, I'm in love with a font, of all things!</li>
            </ul>

            <h2>Learning</h2>

            <h3>Languages</h3>

            <ul>
                <li>Français 🇫🇷 (B2)</li>
                <li>Ελληνικά 🇬🇷 (A2)</li>
                <li>Bahasa Indonesia 🇮🇩 (A1)</li>
                <li>Suomi 🇫🇮 (A1)</li>
            </ul>

            <h2>Reading</h2>

            <h3>I've recently read</h3>

            <ul>
                <li><a href="https://www.goodreads.com/book/show/36896898-spinning-silver" target="_blank" rel="noreferrer">Naomi Novik, Spinning Silver (2018)</a></li>
                <li><a href="https://www.goodreads.com/book/show/2994399-list-your-self" target="_blank" rel="noreferrer">List Your Self (2008)</a></li>
            </ul>
        </section>
    </main>
</Layout>
