openapi: "3.0.3"
info:
  title: sahil-api
  description: |
    Live "now" data aggregator for sahil.im.
    Fetches current activity from Last.fm, AniList, Letterboxd, and Goodreads.
  version: "1.0.0"
  contact:
    name: Sahil A.
    url: https://sahil.im
servers:
  - url: https://api.sahil.im
    description: Production
  - url: http://localhost:8080
    description: Development
paths:
  /health:
    get:
      summary: Health check
      operationId: health
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /api/now:
    get:
      summary: Get all live data
      description: |
        Aggregates the latest song, book, anime, and movie in a single response.
        Each service is fetched concurrently with a 5-minute cache.
      operationId: getNow
      responses:
        "200":
          description: Aggregated now data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NowResponse"
        "502":
          description: Upstream service error
  /api/lastfm:
    get:
      summary: Get last played song
      operationId: getLastSong
      responses:
        "200":
          description: Last played track or empty response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Song"
  /api/anilist:
    get:
      summary: Get last updated anime
      operationId: getLastAnime
      responses:
        "200":
          description: Last anime entry (watching or completed)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Anime"
  /api/letterboxd:
    get:
      summary: Get last watched movie
      operationId: getLastMovie
      responses:
        "200":
          description: Last movie diary entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Movie"
  /api/goodreads:
    get:
      summary: Get currently reading book
      operationId: getCurrentBook
      responses:
        "200":
          description: Currently reading book
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"
  /api/moon:
    get:
      summary: Get today's moon phase
      operationId: getMoonPhase
      responses:
        "200":
          description: Current moon phase
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moon"
        "502":
          description: Upstream moon-phase API error
  /api/koo-image:
    get:
      summary: Search Openverse for a kō-themed image
      operationId: getKooImage
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Image search query, e.g. "evening cicadas"
      responses:
        "200":
          description: Top matching image (null if none)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenverseImage"
        "400":
          description: Missing query parameter
        "502":
          description: Upstream Openverse API error
  /api/cms/feed:
    get:
      summary: Get feed entry
      operationId: getFeed
      parameters:
        - name: slug
          in: query
          schema:
            type: string
            default: feed
      responses:
        "200":
          description: Feed entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedEntry"
        "404":
          description: Not found
    post:
      summary: Upsert feed entry
      operationId: postFeed
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                  default: feed
                content:
                  type: string
              required:
                - content
      responses:
        "200":
          description: Feed entry saved
        "401":
          description: Unauthorized
  /api/greetings:
    get:
      summary: Get greetings in 99 languages
      operationId: getGreetings
      responses:
        "200":
          description: Array of greeting strings
  /api/statuses:
    get:
      summary: Get random status sentences
      operationId: getStatuses
      responses:
        "200":
          description: Array of status strings
  /api/openapi.yaml:
    get:
      summary: OpenAPI spec
      operationId: getSpec
      responses:
        "200":
          description: The OpenAPI YAML file
components:
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok]
    NowResponse:
      type: object
      properties:
        lastSong:
          $ref: "#/components/schemas/Song"
        lastBook:
          $ref: "#/components/schemas/Book"
        lastAnime:
          $ref: "#/components/schemas/Anime"
        lastMovie:
          $ref: "#/components/schemas/Movie"
    Song:
      type: object
      properties:
        title:
          type: string
          example: "Feel Good"
        artist:
          type: string
          example: "Syn Cole"
        album:
          type: string
          example: "Feel Good"
        image:
          type: string
          format: uri
          example: "https://lastfm.freetls.fastly.net/i/u/300x300/abc.jpg"
        url:
          type: string
          format: uri
          example: "https://www.last.fm/music/Syn+Cole/_/Feel+Good"
        playedAt:
          type: string
          format: date-time
          example: "2026-07-07T12:00:00Z"
        timeAgo:
          type: string
          example: "2 hours ago"
    Book:
      type: object
      properties:
        title:
          type: string
          example: "Uprooted"
        author:
          type: string
          example: "Naomi Novik"
        cover:
          type: string
          format: uri
          example: "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1550135418l/22544764._SX98_.jpg"
        url:
          type: string
          format: uri
          example: "https://www.goodreads.com/review/show/6384080255"
        rating:
          type: integer
          example: 0
        timeAgo:
          type: string
          example: "3 days ago"
    Anime:
      type: object
      properties:
        title:
          type: string
          example: "Frieren: Beyond Journey's End"
        image:
          type: string
          format: uri
          example: "https://s4.anilist.co/file/anilistcdn/media/anime/cover/medium/bx154587.jpg"
        url:
          type: string
          format: uri
          example: "https://anilist.co/anime/154587"
        status:
          type: string
          enum: [watching, completed]
          example: "watching"
        episode:
          type: integer
          example: 12
        totalEpisodes:
          type: integer
          example: 28
        updatedAt:
          type: string
          format: date-time
          example: "2026-07-06T10:30:00Z"
    Movie:
      type: object
      properties:
        title:
          type: string
          example: "Spider-Man: Across the Spider-Verse"
        year:
          type: string
          example: "2023"
        image:
          type: string
          format: uri
          example: "https://a.ltrbxd.com/resized/film-poster.jpg"
        url:
          type: string
          format: uri
          example: "https://letterboxd.com/nonomino/film/spider-man-across-the-spider-verse/"
        rating:
          type: string
          example: ""
        timeAgo:
          type: string
          example: "5 days ago"
    FeedEntry:
      type: object
      properties:
        slug:
          type: string
          example: "feed"
        title:
          type: string
          example: "My latest update"
        content:
          type: string
          example: "# Hello\n\nThis is my feed entry."
        updated:
          type: string
          format: date-time
          example: "2026-07-10T10:00:00Z"
    Moon:
      type: object
      properties:
        date:
          type: string
          example: "2026-08-14"
        phaseName:
          type: string
          example: "Waning Gibbous"
        illumination:
          type: number
          format: float
          example: 87.2
          description: "Percentage of the moon illuminated, 0–100"
        emoji:
          type: string
          example: "🌖"
        moonrise:
          type: string
          example: "2026-08-14T19:01:00+09:00"
        moonset:
          type: string
          example: "2026-08-15T06:12:00+09:00"
    OpenverseImage:
      type: object
      properties:
        title:
          type: string
          example: "Cicada"
        url:
          type: string
          format: uri
          description: Source page URL
        direct_url:
          type: string
          format: uri
          description: Direct image file URL
        thumbnail:
          type: string
          format: uri
        foreign_landing_url:
          type: string
          format: uri
          description: Source page where the image is hosted
        creator:
          type: string
          example: "John Doe"
        license:
          type: string
          example: "by"
        license_url:
          type: string
          format: uri
        provider:
          type: string
          example: "flickr"
        width:
          type: integer
        height:
          type: integer
securitySchemes:
  BearerAuth:
    type: http
    scheme: bearer
