---
import { Sparkles } from "@lucide/astro";
---
<div class="my-12 flex items-center justify-center gap-4 text-neutral-200 dark:text-neutral-800">
  <div class="h-px bg-gradient-to-r from-transparent to-current flex-1"></div>
  <Sparkles size={16} class="text-indigo-300 dark:text-indigo-700" />
  <div class="h-px bg-gradient-to-l from-transparent to-current flex-1"></div>
</div>
