---
export interface Props {
  id: string;
  start?: string | number;
}
const { id, start } = Astro.props;

const src = start
  ? `https://www.youtube.com/embed/${id}?start=${start}`
  : `https://www.youtube.com/embed/${id}`;
---

<div
  class="my-8 relative w-full overflow-hidden rounded-xl border border-neutral-200 dark:border-neutral-800 shadow-sm"
  style="padding-bottom: 56.25%;"
>
  <iframe
    class="absolute top-0 left-0 w-full h-full border-0"
    src={src}
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    loading="lazy"
  >
  </iframe>
</div>
